target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### node ###
node_modules/

src/main/resources/application.properties

src/main/resources/static/js/app-templates.js

src/main/resources/static/css/app.css
src/main/resources/static/css/app.css.map

src/main/resources/static/js/lib/angularjs.js
src/main/resources/static/js/lib/angularjs.js.map
src/main/resources/static/js/lib/angularjs.min.js
src/main/resources/static/js/build.js
src/main/resources/static/js/build.js.map
src/main/resources/static/js/build.min.js
src/main/resources/static/js/custom.js
src/main/resources/static/js/custom.js.map
src/main/resources/static/js/custom.min.js

lib/
src/main/resources/application.properties