<div class="x_panel">
    <div class="x_title" hotkey="{
                                        'alt+ins': addNewEntity,
                                        'alt+x': closeForm
                                        }">
        <h2>List
            <span>{{entityListForm.editFormName}}</span>
        </h2>

        <form-toolbox toolbox-menu="entityListForm.toolboxMenu"/>
    </div>

    <div class="x_content">

        <div class="col-sm-12">
            <button class="btn btn-primary" ng-click="closeForm()" size="sm" title="close form" type="button">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-primary" ng-click="updateForm()" size="sm" title="refresh report"
                    type="button">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button class="btn btn-primary" ng-click="addNewEntity()" size="sm" title="refresh report"
                    type="button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-primary" ng-click="flagShowSearch = !flagShowSearch" size="sm" title="refresh report"
                    type="button">
                <span class="glyphicon glyphicon-filter"></span>
            </button>
        </div>

        <div class="col-sm-12">
            <table>
                <tr ng-repeat="filter_element in entityListForm.filter_listProperties">
                    <td>
                        <entity-property
                                entity="filter_list[filter_element.name]"
                                property="filter_element">
                        </entity-property>
                    </td>
                    <td>
                        <button ng-click="probafilter(filter_list[filter_element.name], filter_element)"
                                size="sm"
                                title="close form" type="btn btn-primary">

                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-12" ng-show="flagShowSearch">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Search expression:</label>
            <input
                    class="form-control"
                    ng-change="findEntity(searchEx)"
                    ng-model="searchEx"
                    type="text"
            />

        </div>


        <div class="col-sm-12">

            <div ng-switch on="entityListForm.listType.name">

                <div ng-switch-when="tile">

                    <div class="row top_tiles">
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12"
                             ng-repeat="entity in entityListForm.entitiesFiltered">

                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>
                                        <a ng-click="editEntity(entity.id)">
                                            {{entity.representation}}
                                        </a>
                                    </h2>
                                    <form-toolbox toolbox-menu="entityListForm.entityToolboxMenu"/>
                                </div>

                                <div class="x_content" style="display: block;">
                                    <div class="tile-stats">
                                        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                                        <div class="count">{{entity.id}}</div>
                                        <!--<h3>{{entityEditForm.editFormName}}</h3>-->
                                        <p>{{entity.representation}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div ng-switch-when="panel">

                    <div class="row top_tiles">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 widget widget_tally_box"
                             ng-repeat="entity in entityListForm.entitiesFiltered">
                            <div class="x_panel fixed_height_390">
                                <div class="x_title">
                                    <h2>
                                        <a ng-click="editEntity(entity.id)">
                                            {{entity.representation}}
                                        </a>
                                    </h2>
                                    <form-toolbox toolbox-menu="entityListForm.entityToolboxMenu"/>
                                </div>

                                <div class="x_content" style="display: block;">
                                    <div>
                                        <ul class="list-inline widget_tally">
                                            <li ng-repeat="entityProperty in entityListForm.formProperties | limitTo:entityListForm.listType.quantityProperties track by $index">
                                                <p>

                                                    <span class="month">{{entityProperty.label}}</span>
                                                    <span class="count" ng-switch on="entityProperty.inputType">
                                                        <span ng-switch-when="select">
                                                            {{entity[entityProperty.name].representation}}
                                                        </span>
                                                        <span ng-switch-when="multiselect">
                                                            {{entity[entityProperty.name].representationList()}}
                                                        </span>
                                                        <span ng-switch-when="date">
                                                            {{entity[entityProperty.name] | date:'yyyy-MM-dd'}}
                                                        </span>
                                                        <span ng-switch-default>
                                                            <text-value text-value="entity[entityProperty.name]" limit-length="entityListForm.listType.limitCellLength">

                                                            </text-value>
                                                        </span>
                                                    </span>

                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div ng-switch-when="mediaList">

                    <ul class="list-unstyled top_profiles scroll-view">

                        <li class="media event"
                        ng-repeat="entity in entityListForm.entitiesFiltered">

                            <a class="pull-left border-aero profile_thumb">
                                <i class="fa fa-user aero"></i>
                            </a>
                                <!-- <div class="x_title"> -->
                                    <span>
                                        <a ng-click="editEntity(entity.id)">
                                            {{entity.representation}}
                                        </a>
                                    </span>
                                    <form-toolbox toolbox-menu="entityListForm.entityToolboxMenu"/>
                                <!-- </div> -->

                            <div class="media-body">
                                <p ng-repeat="entityProperty in entityListForm.formProperties | limitTo:entityListForm.listType.quantityProperties track by $index">
                                    <strong>{{entityProperty.label}}: </strong>

                                    <span class="count" ng-switch on="entityProperty.inputType">
                                        <span ng-switch-when="select">
                                            {{entity[entityProperty.name].representation}}
                                        </span>
                                        <span ng-switch-when="multiselect">
                                            {{entity[entityProperty.name].representationList()}}
                                        </span>
                                        <span ng-switch-when="date">
                                            {{entity[entityProperty.name] | date:'yyyy-MM-dd'}}
                                        </span>
                                        <span ng-switch-default>
                                            <text-value text-value="entity[entityProperty.name]" limit-length="entityListForm.listType.limitCellLength">

                                            </text-value>
                                        </span>
                                    </span>

                                </p>
                            </div>

                        </li>

                    </ul>

                </div>

                <div ng-switch-default>
                    
                    <div class="table-responsive">

                        <table class="table table-striped jambo_table bulk_action">

                            <thead>
                            <tr class="headings">
                                <th class="column-title" 
                                        ng-repeat="entityProperty in entityListForm.formProperties track by $index">
                                    {{entityProperty.label}}
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="hvr-curl-top-left even pointer" ng-repeat="entity in entityListForm.entitiesFiltered">
                                <td ng-repeat="entityProperty in entityListForm.formProperties track by $index">
                                    <div ng-switch on="entityProperty.inputType">
                                        <span ng-switch-when="select">
                                            {{entity[entityProperty.name].representation}}
                                        </span>
                                        <span ng-switch-when="multiselect">
                                            {{entity[entityProperty.name].representationList()}}
                                        </span>
                                        <span ng-switch-when="date">
                                            {{entity[entityProperty.name] | date:'yyyy-MM-dd'}}
                                        </span>
                                        <span ng-switch-default>
                                            {{entity[entityProperty.name]}}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="buttons fade">
                                        <button ng-click="deleteEntity(entity.id)" size="sm" title="remove task"
                                                type="button">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="buttons fade">
                                        <button ng-click="editEntity(entity.id)" size="sm" title="edit task"
                                                type="button">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                            <tr ng-repeat="entityEmpty in entityListForm.entitiesEmpty track by $index">
                                <td align="center"
                                    ng-repeat="entityPropertyEmpty in entityListForm.formProperties track by $index">
                                    <!--<img src="/img/FFFFFF-0.8.png">-->
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

            <ul
                    class="pagination" ng-change="entityListForm.eventPageChanged()"
                    ng-model="entityListForm.currentPage"
                    total-items="entityListForm.totalItems"
                    uib-pagination>
            </ul>

        </div>

    </div>

</div>
