<div class="x_panel">
    <div class="x_title">
        <h2>List
            <small>list subtitle</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">


        <div class="col-sm-12">
            <table>
                <tr ng-repeat="filter_element in entityListForm.filter_listProperties">
                    <td>
                        <entity-property
                                entity="filter_list[filter_element.name]"
                                property="filter_element">
                        </entity-property>
                    </td>
                    <td>
                        <button ng-click="probafilter(filter_list[filter_element.name], filter_element)"
                                type="btn btn-primary"
                                size="sm" title="close form">

                        </button>
                    </td>
                </tr>
            </table>
        </div>


        <div class="col-sm-12" hotkey="{
                                        'alt+ins': addNewEntity,
                                        'alt+x': closeForm
                                        }">
            <b> {{entityListForm.editFormName}} </b>
            <p>
                <button ng-click="closeForm()" class="btn btn-primary" type="button" size="sm" title="close form">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button ng-click="updateForm()" class="btn btn-primary" type="button" size="sm"
                        title="refresh report">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button ng-click="addNewEntity()" class="btn btn-primary" type="button" size="sm"
                        title="refresh report">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button ng-click="flagShowSearch = !flagShowSearch" class="btn btn-primary" type="button" size="sm"
                        title="refresh report">
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
            </p>
        </div>


        <div class="col-sm-12" ng-show="flagShowSearch">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Search expression:</label>
                <input
                        type="text"
                        ng-model="searchEx"
                        class="form-control"
                        ng-change="findEntity(searchEx)"
                />

        </div>


        <div class="col-sm-12">

            <div ng-switch on="entityListForm.metadataSpecification.metadataObject.fmListForm.type.name">

                <div ng-switch-when="tile">

                    <div class="row top_tiles">
                        <div ng-repeat="entity in entityListForm.entitiesFiltered"
                             class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                                <div class="count">{{entity.id}}</div>
                                <!--<h3>{{entityEditForm.editFormName}}</h3>-->
                                <p>{{entity.representation}}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div ng-switch-when="panel">

                    <div class="row top_tiles">
                        <div ng-repeat="entity in entityListForm.entitiesFiltered"
                             class="col-lg-3 col-md-3 col-sm-6 col-xs-12 widget widget_tally_box">
                            <div class="x_panel fixed_height_390">
                                <div class="x_title">
                                    <h2>{{entity.representation}}</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li ng-click="editEntity(entity.id)"><a
                                                        ng-click="editEntity(entity.id)">Edit<span
                                                        class="glyphicon glyphicon-pencil"></span></a>
                                                </li>
                                                <li ng-click="deleteEntity(entity.id)"><a
                                                        ng-click="deleteEntity(entity.id)">Delete<span
                                                        class="glyphicon glyphicon-trash"></span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content" style="display: block;">
                                    <div>
                                        <ul class="list-inline widget_tally">
                                            <li ng-repeat="entityProperty in entityListForm.formProperties track by $index">
                                                <p>
                                                    <span class="month">{{entityProperty.label}}</span>
                                                    <span class="count">
                                                        <div ng-switch on="entityProperty.inputType">
                                                            <span ng-switch-when="select">
                                                                {{entity[entityProperty.name].representation}}
                                                            </span>
                                                                                <span ng-switch-when="multiselect">
                                                                {{entity[entityProperty.name].representationList()}}
                                                            </span>
                                                                                <span ng-switch-when="date">
                                                                {{entity[entityProperty.name] | date:'yyyy-MM-dd'}}
                                                            </span>
                                                                                <span ng-switch-default>
                                                                {{entity[entityProperty.name]}}
                                                            </span>
                                                        </div>
                                                    </span>

                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div ng-switch-default>


                    <thead>
                    <tr>
                        <th
                                ng-repeat="entityProperty in entityListForm.formProperties track by $index">
                            {{entityProperty.label}}
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="entity in entityListForm.entitiesFiltered" class="hvr-curl-top-left">
                        <td ng-repeat="entityProperty in entityListForm.formProperties track by $index">
                            <div ng-switch on="entityProperty.inputType">
                                    <span ng-switch-when="select">
                                        {{entity[entityProperty.name].representation}}
                                    </span>
                                <span ng-switch-when="multiselect">
                                        {{entity[entityProperty.name].representationList()}}
                                    </span>
                                <span ng-switch-when="date">
                                        {{entity[entityProperty.name] | date:'yyyy-MM-dd'}}
                                    </span>
                                <span ng-switch-default>
                                        {{entity[entityProperty.name]}}
                                    </span>
                            </div>
                        </td>
                        <td>
                            <div class="buttons fade">
                                <button ng-click="deleteEntity(entity.id)" type="button" size="sm"
                                        title="remove task">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="buttons fade">
                                <button ng-click="editEntity(entity.id)" type="button" size="sm"
                                        title="edit task">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </td>
                    </tr>

                    <tr ng-repeat="entityEmpty in entityListForm.entitiesEmpty track by $index">
                        <td align="center"
                            ng-repeat="entityPropertyEmpty in entityListForm.formProperties track by $index">
                            <!--<img src="/img/FFFFFF-0.8.png">-->
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>

                    </table>


                </div>

            </div>

            <ul
                    uib-pagination total-items="entityListForm.totalItems"
                    ng-model="entityListForm.currentPage"
                    ng-change="entityListForm.eventPageChanged()"
                    class="pagination-sm">
            </ul>

        </div>

    </div>

</div>
