
header {
    position: inherit;
}

.appWorkPlace {
    height:500px;
    overflow:auto;
    background-image: url('../img/To-do_list.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    opacity: 0.8;
}

tr:hover ~ button {
    opacity: 1;
    -webkit-transition: opacity 1s linear;
}

.fade {
    opacity: 0.1;
}

.fade:hover {
    opacity: 1;
    -webkit-transition: opacity 1s linear;
}

