<div style="display:inline;width:100px;height:120px;">

	<p>{{countValue.value}}</p>
	<input 
		class="knob" 
		data-width="100" 
		data-height="120" 		
		data-displayPrevious=true 
		data-fgColor="#26B99A" 
		data-min="{{countValue.minValue}}"
		value="{{countValue.value}}"
		data-displayprevious="true"
		
style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font: bold 20px Arial; text-align: center; color: rgb(38, 185, 154); padding: 0px; -moz-appearance: none;"		
		>


</div>